@using Newtonsoft.Json
@model List<CartItem>
@{
    var data = Model;
}

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    .m-btn {
        height: 32px;
        margin-right: 4px;
    }

    .p-btn {
        height: 32px;
        margin-left: 4px;
    }
</style>

 
<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                @if (data != null) {
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Cart - @Model[0].CartId.Substring(0, Model[0].CartId.IndexOf('@')) -  items</h5>
                    </div>




                    <div class="card-body">
                        <!-- Single item -->
                        @foreach (var product in data)
                        {
                            <div class="row">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <!-- Image -->
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                        <img src="~/images/@product.Product.ProductImage" alt="productImage"
                                             class="w-100" alt="productImage" />
                                        <a href="#!">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                    <!-- Image -->
                                </div>

                                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                    <!-- Data -->
                                    <p><strong>@product.Product.ProductName</strong></p>
                                    <p>@product.Product.ProductDescription</p>
                                    <p><strong>@product.Product.ProductPrice Rs</strong></p>

                                    <button type="button" itemid = "@product.ItemId" class="btn btn-primary btn-sm me-1 mb-2 remove-item" data-mdb-toggle="tooltip" title="Remove item">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip" title="Move to the wish list">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    <!-- Data -->

                                </div>

                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <!-- Quantity -->
                                    <div class="d-flex mb-4 qu">
                                        <button class="btn btn-primary m-btn  px-3 me-2 newQuantity" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <div class="form-outline">
                                            <input min="1" id="quantity" name="quantity"
                                                   itemPrice="@product.Product.ProductPrice" data-itemid="@product.ItemId" value="@product.Quantity" type="number" class="form-control" />
                                            <label class="form-label" for="form1">Quantity</label>
                                        </div>
                                        <input type="hidden" id="itemPrice" data-itemPrice="@product.Price" />
                                        <button class="btn btn-primary px-3 ms-2 p-btn newQuantity" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <!-- Quantity -->
                                    <!-- Price -->
                                    <p class="text-start text-md-center showPrice" data-itemid="@product.ItemId">
                                        <strong >@product.Price</strong>
                                    </p>
                                    <!-- Price -->
                                </div>
                            </div>


                            <hr class="my-4" />                             


                        }
                    </div>

                </div>

                }
                else{
                <h3>Your Cart Is Empty</h3>
                }
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                           
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>Gratis</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total amount</strong>
                                    <strong>
                                        <p class="mb-0">(including VAT)</p>
                                    </strong>
                                </div>
                                <span id = "totalAmount"><strong> TotalAmount </strong></span>
                            </li>
                        </ul>

                        <button type="button" class="btn btn-primary btn-lg btn-block">
                            Go to checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {

        var cartItems = @Html.Raw(JsonConvert.SerializeObject(Model));
        console.log(cartItems);

        ToTalAmount();

    });

    $(".remove-item").click(function () {
        var id = $(this).attr("itemid");
        console.log(id);
         $.ajax({
            method: "DELETE",
            url: "https://localhost:44373/api/Cart/DeleteCart?id="+id,   
           
            success: function (data) {
                console.log("removed");
                window.location.reload();
            }
        }); 
    })

    function ToTalAmount() {
        var totalAmount = 0;
        $(".showPrice").each(function () {

            var priceText = $(this).text();
            var price = parseFloat(priceText.replace(' Rs', ''));
            totalAmount += price;

        });
        console.log(totalAmount);
        $('#totalAmount').text(totalAmount + ' Rs');
    }

    $(".newQuantity").click(function () {
        var qun = $(this).siblings().children("#quantity").val();
        var id = $(this).siblings().children("#quantity").attr("data-itemid");
        var itemPrice = $(this).siblings().children("#quantity").attr('itemPrice');
        var totalPrice = itemPrice * qun;

        console.log(qun, id, itemPrice);
        debugger;
        $.ajax({
            method: "POST",
            url: "/Cart/UpdateCart", // Ensure this matches your controller route
            data: {
                itemId: id,
                quantity: qun,
                totalPrice: totalPrice
            },
            success: function (data) {
                $(".showPrice[data-itemid='" + id + "']").text(itemPrice * qun + ' Rs');

                @* adding total amount *@
                    ToTalAmount();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("AJAX error:", textStatus, errorThrown);
            }
        });
    });

</script>